/* Font style */

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Universal Selector */

* {

    padding: 0px;

    box-sizing: border-box;

    margin: 0px;

}


/* Variable */

:root {

    --font1: "Alex Brush", cursive;

    --font2: "Montserrat", sans-serif;

    --weight: 400;

    --lcolor: rgb(233, 217, 125);

    --gcolor: gold;

    --wcolor: white;

    --bcolor: black;

}


/* HOME PAGE */

main {

    padding: 0px !important;

}


header {

    height: 100vh;

    width: 100%;

    position: relative;

    background-color: black;

        overflow: hidden;

}


/* NAVBAR */

.nav {

    position: absolute !important;

    top: 0px;

    left: 0px;

    width: 100%;

    padding: 20px 50px !important;

    background-color: transparent !important;

    display: flex !important;

    justify-content: space-between !important;

    align-items: center !important;

    z-index: 10;

}


/* AURELIA */

.navbar-brand {

    color: var(--gcolor) !important;

    font-family: var(--font1);

    font-size: 35px !important;

    letter-spacing: 8px;

}


/* NAVIGATION */

.up {

    display: flex !important;

    flex-direction: row !important;

    align-items: center !important;

    gap: 25px;

}


.up a {

    position: relative;

}


/* RIGHT UNDERLINE */

.up a::after {

    position: absolute;

    bottom: 0px;

    right: 0px;

    content: "";

    height: 2px;

    width: 0%;

    background-color: var(--lcolor);

    transition: 1s;

}


.up a:hover::after {

    width: 50%;

}


/* LEFT UNDERLINE */

.up a::before {

    position: absolute;

    bottom: 0px;

    left: 0px;

    content: "";

    height: 2px;

    width: 0%;

    background-color: var(--lcolor);

    transition: 1s;

}


.up a:hover::before {

    width: 50%;

}


/* NAV LINKS */

.up .nav-link {

    color: var(--wcolor) !important;

    font-family: var(--font2);

    font-size: 20px;

}


.up .nav-link:hover {

    color: var(--lcolor) !important;

}


/* BOOK NOW */

.book {

    color: var(--lcolor) !important;

    border: 1px solid var(--gcolor) !important;

    background-color: transparent !important;

    border-radius: 15px !important;

    padding: 8px 15px !important;

}


.book:hover {

    box-shadow: -6px 3px 5px gold,
                6px -4px 5px gold !important;

    border: 3px solid rgb(172, 172, 172) !important;

}


/* VIDEO */

video {

    height: 100%;

    width: 100%;

    object-fit:fill;

    opacity: 0.6;

    display: block;

}


/* MENU BAR */

.bar {

    display: none;

}


.menu {

    font-size: 20px;

}


.check {

    display: none;

}

 /* OPEN MOBILE MENU */

    input:checked + .up {

        right: 0px !important;

    }

    /* TOP BOX  */

    .logo{

        height: 100px;
    width: 100px;
    position: absolute;
    top: 108px;
    left: 61px;

    }

    .top p{

        position: absolute;
    top: 205px;
    left: 25px;
    color:var(--wcolor);
    font-family:var(--font2);

    }

    .top h1{

        position: absolute;
       top: 250px;
    left: 25px;
    font-family:var(--font1);
    color:var(--lcolor);
        font-size: 60px;
    width: 30%;

    }

    .top p:nth-child(3){


            top:400px;
    font-size:30px;
    font-family: var(--font2);
    width:45%;

    }

     .top button{

        font-size:15px;
        letter-spacing:3px;
        border-radius:50px;
        font-family:var(--font2);
        padding:6px 15px;
            background-color: transparent;
    color: var(--wcolor);
    border: 2px solid gold;
        position:absolute;
        bottom:20px;
        right:25px;

    }

    .top button:hover{

        transform:translate(10px);
        box-shadow: -6px 3px 5px gold, 6px -3px 5px gold;
        /* box-shadow: 0 4px 8px 0 gold,0 6px 20px 0 gold; */
    }


               /* ABOUT PAGE  */

           section {

            background-color:var(--bcolor);
            min-height:633px;
            border-bottom:2px solid gold;
            border-top:2px solid gold;
            position: relative;

           }  
           
     .about-img{

            height: 380px;
    position: absolute;
    top: 90px;
    left: 50px;
    border: 2px solid gold;
    cursor:pointer;
     transition: transform 0.5s ease;

     }    
     
     
     .about-img:hover{

        transform: skew(10deg);

     }


            /* LEFT SIDE BOX  */

     
            .left p{

               color: var(--lcolor);
    letter-spacing: 2px;
    font-family: var(--font2);
    font-weight: var(--weight);
    font-size:15px;
    position: absolute;
    top:100px;
    right:20%;


            }


            .left h1{

                font-size: 31px;
    font-family: var(--font1);
    font-weight: var(--weight);
    color: var(--gcolor);
    letter-spacing: 4px;
    position: absolute;
    top: 147px;
    right:10%;

            }


            .left P:nth-child(3){

                    color: var(--wcolor);
    /* letter-spacing: 2px; */
    font-family: var(--font2);
    font-weight: var(--weight);
    font-size: 17px;
    position: absolute;
    top: 203px;
    right: 2%;
    width: 32%;


            }

            /* STATISTICS BOX  */

            .box {

                background-color:white;
                height:200px;
                width:400px;
                position:absolute;
                top:0px;
                right:0px;



            }


/* Media Qurey  */

@media only screen and (min-width:900px) and (max-width:1078px){


          /* HOME PAGE  */

    /* TOP BOX  */

    .top h1{

            font-size:40px;

    }

    .top p:nth-child(3) {
        
            top: 359px;
        font-size: 21px;


    }


}


/* Media Qurey  */

/* Tab Qurey  */

@media only screen and (min-width: 668px) and (max-width: 900px){


      /* HOME PAGE  */


    .navbar-brand {
    
    font-size: 20px !important;

    }

    .up .nav-link {

    font-size: 14px;
    }

    .btn{

        
    font-size: 10px;
}

/* TOP BOX  */

.top h1{

        font-size:31px;

}

.top p:nth-child(3) {
    top: 346px;
    font-size: 16px;
    width: 50%;


}

.top button {
    font-size: 9px;
    letter-spacing: 1px;
}

}

/* Media Qurey  */

/* PHONE SCREEN */


@media only screen and (min-width: 300px) and (max-width: 669px) {


      /* HOME PAGE  */

    /* MENU ICON */

    .bar {

        display: inline-block;

        cursor: pointer;

        z-index: 20;

    }


    
    .menu {

        font-size: 20px;

    }

    /* NAVBAR */
    .nav {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px !important;
    }


    .up {

        position:absolute !important;

        top: 80px !important;

        right:-100% !important;

        background-color: var(--bcolor) !important;

        width: 60% !important;

        height: 78vh !important;

        flex-direction: column !important;

        justify-content: flex-start !important;

        align-items: center !important;

        padding: 0px !important;

        padding-top: 60px !important;

        transition: 1.5s !important;

        font-size: 25px !important;

        border-radius: 30px !important;

        margin-left: 60px !important;

    }



    .navbar-brand {

    font-size: 19px !important;
    letter-spacing: 4px;

    }

    /* TOP BOX  */

    .top h1{

                 font-size: 28px;
        width: 50%;




    }

    .top p:nth-child(3) {
    top: 361px;
    font-size: 17px;
    width: 76%;
}

.top button {
    font-size: 10px;
    letter-spacing: 1px;
}


}



